html, body{
    padding: 0px;
    margin: 0px;
}

h1, h2 {
    margin: 0px;
}

.hide {
    display: none;
}

#Operator {
    background-color: rgb(111, 77, 143); 
    height: 800px; 
    width: 1300px; 
    text-align: center;
    margin: auto;
}

#OpClassSelect {
    width: 100px;
    height: 100px;
    background-color: gray; 
    display: block;
    float: left;
}
    
    .opClass {
        width: 100px;
        height: 100px;
        display: block;
        background-color: rgb(139, 139, 139);      
        transition: 0.3s;
    }

    .opClass.Vanguard{ background-image: url('../img/vanguard.png'); }

    .opClass.Guard{ background-image: url('../img/guard.png'); }

    .opClass.Defender{ background-image: url('../img/defender.png');}

    .opClass.Caster{ background-image: url('../img/caster.png');}

    .opClass.Sniper{ background-image: url('../img/sniper.png')}

    .opClass.Medic{ background-image: url('../img/medic.png');}

    .opClass.Supporter{ background-image: url('../img/supporter.png');}

    .opClass.Specialist{ background-image: url('../img/specialist.png');}

    .opClass:hover { background-color: rgb(112, 112, 112);}

#OpCharSelect {
    height: 100%; 
    width: 1200px; 
    background-color: azure; 
    overflow-y: scroll;
}

    .opCard {
        width: 140px;
        height: 70px;
        float: left;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        flex-direction: column;
        margin: 10px;
        padding-right: 8px;
        padding-bottom: 0px;
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(87, 87, 87, 0.5));
        transition: 0.3s;

    }

    .opCard:hover {
        transform: scale(1.1, 1.1);
    }

#Levels {
    background-color: coral; 
    height: 800px;
    width: 1300px; 
    margin: auto;

}

#RuleSettings {
    background-color: rgb(255, 137, 202); 
    height: 800px;
    width: 1300px; 
    margin: auto;

}