#OpClassSelect {
    width: 100px;
    height: 100vh;
    background-color: rgb(71, 78, 104);
    display: block;
    float: left;
  }

.charPos {
    width: 70px; 
    height: 70px; 
    position: relative; 
    top: 45px;
}

.sixstar { background-image: url('../img/sixstar.png') }
.fivestar { background-image: url('../img/fivestar.png') }
.fourstar { background-image: url('../img/fourstar.png') }
.threestar { background-image: url('../img/threestar.png') }
.twostar { background-image: url('../img/twostar.png') }
.onestar { background-image: url('../img/onestar.png') }
