@font-face {
  font-family: 'ModernSans';
  src: url('../ModernSans-Light.otf');
}

html, body{
  height: 100vh;
  width: 100vw;
  padding: 0px;
  background-color: rgb(64, 66, 88);;
  color: white;
  font-family: ModernSans, Calibri !important;
  text-align: center;
}

h1, h2 {
  margin: 0px;
}

.mainHeader {
  background-color: rgb(64, 66, 88);
}

.mainBody {
  background-color: rgb(64, 66, 88);
}

.tabButton {
  border: none;
  background-color: rgb(71, 78, 104);
  width: 200px;
  padding: 12px;
  text-align: center;
  color: white;
  transition: 0.3s;
}  

  .tabButton:hover {
      background-color: rgb(80, 87, 122);
  }

.hide {
  display: none;
}



#Levels {
  background-color: coral; 
}

#RuleSettings {
  background-color: rgb(159, 93, 161); 

}

#Randomize {
  background-color: rgb(76, 116, 189); 
}
